<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--This is the start of my website.-->
    <h1><a href="/hello">About Angelina!</a> <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" height = "72" width = "267" alt="Smith Logo"></h1>
    <h2>Fun Links</h2>
    <ul>
        <li><a href="https://www.geoguessr.com/">Geoguessr</a></li>
        <li><a href="https://neal.fun/" target = _blank>Neal.Fun</a></li>     <!--This is one of my favorite sites to visit while bored.-->
    </ul>
    <h2>My Time at UMD</h2>
    <p>I'm a senior at UMD studying <strong>Information Systems</strong> and Accounting. I <em>really</em> like the Smith School and some of my favorite places on campus are:</p>
    <ol>
        <li>Casey's Coffee</li>
        <li>Jumbo Jumbo Cafe</li>
        <li>Rudy's</li>
    </ol>

    <!--My table formatting begins here.-->
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Fall 2026</td>
        </tr>
        <tr>
            <td>BMGT321</td>
            <td>Spring 2026</td>
        </tr>
    </table>
    <h2>My Time outside UMD</h2>
    <p>Outside of UMD, I have <strong> 5 cats</strong>, which is <em>too</em> many cats. Also, I like to go to cafés in my free time. My cats are:</p>
    <ul>
        <li>Pepper</li>
        <li>Zeus</li>
        <li>Brookie</li>
        <li>Queenie</li>
        <li>Jetty</li>
    </ul>

</body>
</html>